Unbelievable.xml
output.mp4
*/poplib/retr*.zip
**/RelWithDebInfo/*
**/Debug/*
**/cmake/**/build
cpp/unlzh/build/
python/poplib/retr-*.7z
**/node_modules/**/*
python/imagemagick/.tmp/*.png
zim/openenglishbible/openenglishbible.org/**
zim/**
webcam/time_lapse/last_video.sh