Unbelievable.xml
output.mp4
*/poplib/retr*.zip
**/RelWithDebInfo/*
**/Debug/*
**/cmake/**/build
**/cmake/**/vsm_dev/**
!build/make-cmake.bat
cpp/unlzh/build/
python/poplib/retr-*.7z
**/node_modules/**/*
python/imagemagick/.tmp/*.png
zim/openenglishbible/openenglishbible.org/**
zim/**
webcam/time_lapse/last_video.sh
cpp/swig/bezcurve/**
**/CMakeFiles/**